<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Optical_Simulation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Optical_Simulation.Properties.Settings>
            <setting name="DefultBackground" serializeAs="String">
                <value>GradientActiveCaption</value>
            </setting>
            <setting name="DarkBackground" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="GreenBackground" serializeAs="String">
                <value>YellowGreen</value>
            </setting>
            <setting name="RedBackground" serializeAs="String">
                <value>Firebrick</value>
            </setting>
            <setting name="BlueBackground" serializeAs="String">
                <value>Highlight</value>
            </setting>
            <setting name="LightBackground" serializeAs="String">
                <value>ControlLightLight</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>9</value>
            </setting>
        </Optical_Simulation.Properties.Settings>
    </userSettings>
</configuration>
